@import url('skyline_fonts.css');


//// COLOR PALETTE
$color-yellow-basic:#f1c404;
$color-turquoise-dark-basic:#006d77;
$color-turquoise-light-basic:#83c5be;
$color-font-grey:#454545;

$color-water-blue: #1c91cd;
$color-black: #212121;
$color-pinkish-grey: #bdbdbd;
$color-bg-grey: #eeeeee;
$color-white:#ffffff;
$color-light-grey:#d3d3d3;

$color-bg-base: #f7f7f7;
$color-row-selected:#f6f6f6;
$color-disabled:#b1afaf;

//// FONT-WEIGHT VARIABLES
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

//// GLOBAL VARIABLES
$color-bg-nav-arrow:$color-turquoise-light-basic;
$color-bg-nav-arrow-active:$color-turquoise-dark-basic;
$color-bg-floating-btn-icon:$color-turquoise-dark-basic;
$color-bg-tab-active:$color-turquoise-dark-basic;
$color-icons:$color-yellow-basic; 
$color-icons-onhover:$color-turquoise-dark-basic;

// $colors: ('primary': black, 'secondary': white);

// @function color($color) {
//   @return map-get($colors, $color);
// }
