$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("../font-flaticon/font/flaticon.ttf?3f8d5d869158f942afd7eac0144af0cb") format("truetype"),
url("../font-flaticon/font/flaticon.woff?3f8d5d869158f942afd7eac0144af0cb") format("woff"),
url("../font-flaticon/font/flaticon.woff2?3f8d5d869158f942afd7eac0144af0cb") format("woff2"),
url("../font-flaticon/font/flaticon.eot?3f8d5d869158f942afd7eac0144af0cb#iefix") format("embedded-opentype"),
url("../font-flaticon/font/flaticon.svg?3f8d5d869158f942afd7eac0144af0cb#flaticon") format("svg");
}

// i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
//     font-family: flaticon !important;
//     font-style: normal;
//     font-weight: normal !important;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }

$flaticon-map: (
    "history": "\f101",
    "draw": "\f102",
    "go-up": "\f103",
    "notebook": "\f104",
    "layout": "\f105",
    "process": "\f106",
    "table": "\f107",
    "table-1": "\f108",
    "bottles-1": "\f109",
    "bottle": "\f10a",
    "chemistry-1": "\f10b",
    "notes-1": "\f10c",
    "notes-2": "\f10d",
    "levels": "\f10e",
    "level": "\f10f"
);

@function getFlaticon($icon) {
    @return map-get($flaticon-map, $icon);
}
