// $icons-url:"../../images/menu_icons";
// $maintenance-menu-icon:$icons-url+"/settings.svg";
// $maintenance-menu-icon-selected:$icons-url+"/settings-selected.svg";
// $template-menu-icon:$icons-url+"/process.svg";
// $template-menu-icon-selected:$icons-url+"/process-selected.svg";
// $dataentry-menu-icon:$icons-url+"/server.svg";
// $dataentry-menu-icon-selected:$icons-url+"/server-selected.svg";
// $sampletrack-menu-icon:$icons-url+"/samples.svg";
// $sampletrack-menu-icon-selected:$icons-url+"/samples-selected.svg";
// $inventory-menu-icon:$icons-url+"/flask.svg";
// $inventory-menu-icon-selected:$icons-url+"/flask-selected.svg";
// $reports-menu-icon:$icons-url+"/bar-chart.svg";
// $reports-menu-icon-selected:$icons-url+"/bar-chart-selected.svg";
// $search-menu-icon:$icons-url+"/search.svg";
// $search-menu-icon-selected:$icons-url+"/search-selected.svg";
// $help-menu-icon:$icons-url+"/help.svg";
// $help-menu-icon-selected:$icons-url+"/help-selected.svg";

@media print, screen and (min-width: 20em)
{
	.top-bar .top-bar-left,.top-bar .top-bar-right
	{
		width:auto
	}
}

@media screen and (min-width: 1500px)
{
    .sub-header .main-navbar li
    {
        margin-right:1vw;
    }
}

@media screen and (min-width: 1900px)
{
    .sub-header .main-navbar li
    {
        margin-right:1vw;
    }
}

.top-bar-container {
	padding: 0;
	min-width:1300px;
}

.dropdown.menu > li.is-dropdown-submenu-parent {
	
		 a::after {
				border-color: $color-black transparent transparent ;
				right: 2px;
			    margin-top: 0px;
		}
		a:hover::after {
				border-color: $color-turquoise-dark-basic transparent transparent;
		}
 		a.selectedMenu::after {
 				border-color: $color-turquoise-dark-basic transparent transparent;
 		}
 	
 		ul.is-dropdown-submenu > li.is-dropdown-submenu-parent.opens-right {
 			a::after {
				border-color: transparent transparent transparent $color-black;
				right: 6px;
			    margin-top: -5px;
			}
 		}	
}

.dropdown.menu>li.opens-right>.is-dropdown-submenu
{
	// top:47px;	
	top:40px;	
}
.dropdown.menu >li>ul.is-dropdown-submenu
{
	z-index:105;
}

header.top-bar {
	height: 30px;
	width: 100%;
	// background-color: #362a2a;
	// color:white;
	background-color: white;
	color: #362a2a;

	.menu {
		background-color: transparent;
	}

	.menu > li > a {
		padding: 0;
	}

	.menu-text {
		padding:4px 0px 5px 10px;
		span {
			font-size:12px;
		}
	}

	.user-name {
		margin-right: 10px;
	}

	.top-bar-right {
		.menu > li {
			margin-right: 10px;
		}
	}
	.top-bar-left {
		.menu > li {
			margin-right: 10px;
		}
		img {
			width:10em;
			margin-top: 50px;
		}
	}
}

span.user-avatar {
	background-image: url("../../images/ellipse.svg");
	display: inline-block;
	height: 31px;
	width: 31px;
	margin-right: 10px;

	img {
		width: 20px;
		height: 24px;
		margin: 7px 0 0 6px;
	}
}

.logOut {
	
	  width: 47px;
	  height: 19px;
	  object-fit: contain;
	  font-family: $body-font-family;
	  font-size: 12px;
	  font-weight: bold;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.33;
	  letter-spacing: normal;
	  text-align: right;
	  color: #362a2a;	
	  text-decoration: none;
}

.sub-header {
	padding-top:1px;
	padding-bottom:1px;
	background-color: white;
	border-bottom: 1px solid $color-pinkish-grey;
	height:50px;

	.main-navbar {

		width: 90%;
    	float: right;
		
		li { 
			padding-right: 1vw;

			a {
				background-repeat: no-repeat;
				padding: 17px 5px 9px 30px;
				//padding: 20px 0 14px 35px;
				font-size: 15px;
				font-weight: $font-weight-regular;
				color: $color-black;
				position: relative;
				//border-bottom: 6px solid white;
				margin-bottom: -1px;

				&:hover {
					color: $color-turquoise-dark-basic;
					border-bottom: 7px solid $color-turquoise-dark-basic;
					text-decoration: none;
				}

				&:before {
					height: 30px;
					width: 30px;
					display: inline-flex;
					content: '';
					position: absolute;
					top: 10px;
					left: 0px;
				}
			}
			&.is-active>a {
				color: $color-turquoise-dark-basic;
				border-bottom: 7px solid $color-turquoise-dark-basic;
				text-decoration: none;

				&:after {
					border-color: $color-turquoise-dark-basic transparent transparent;
				}
			}
		}
		
		
		li > ul.menu {
			padding: 0px;
			margin: 8px 0 0 0;
			-webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
			-moz-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
			box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
			
			li.is-active>a {
			    background-color: $color-bg-grey;
			    color: $color-turquoise-dark-basic;
			    
			}
			
			li {
				padding-right: 0px;
				
				a:hover {
					background-color: $color-bg-grey;
				}
			}

			li > a,
			li > a:before {
				text-transform: none;
				background-image: none;
				padding: 10px 20px;
				border-bottom: none;
				font-size: 14px;
			}
		}
		

		// .maintenance {
		// 	 a.main-navbar-icon {
		// 	 		padding-left:40px;
		// 	 		&:before{background-image: url($maintenance-menu-icon);}
		// 	 		&:hover:before{background-image: url($maintenance-menu-icon-selected);}
		// 	}
		// 	 &.is-active >a:before {background-image: url($maintenance-menu-icon-selected);}
		// }
		// .maintenance a.selectedMenu:before{background-image: url($maintenance-menu-icon-selected)}
 		
 		// .process-template { 			
		// 	a.main-navbar-icon {
		// 		padding-left:40px;
		// 		&:before{background-image: url($template-menu-icon);}
		// 		&:hover:before{background-image: url($template-menu-icon-selected);}
	   	// 	}
		// 	&.is-active >a:before {background-image: url($template-menu-icon-selected);}
 		// }
 		// .process-template a.selectedMenu:before{background-image: url($template-menu-icon-selected)}
		
		// .data-entry { 			
		// 	a.main-navbar-icon {
		// 		padding-left:40px;
		// 		&:before{background-image: url($dataentry-menu-icon);}
		// 		&:hover:before{background-image: url($dataentry-menu-icon-selected);}
	   	// 	}
		// 	&.is-active >a:before {background-image: url($dataentry-menu-icon-selected);}
 		// } 
		// .data-entry a.selectedMenu:before{background-image: url($dataentry-menu-icon-selected)}
		
		// .sample-tracking {
		// 	a.main-navbar-icon {
		// 		padding-left:40px;
		// 		&:before{background-image: url($sampletrack-menu-icon);}
		// 		&:hover:before{background-image: url($sampletrack-menu-icon-selected);}
	   	// 	}
		// 	&.is-active >a:before {background-image: url($sampletrack-menu-icon-selected);}
		// }
		// .sample-tracking a.selectedMenu:before{background-image: url($sampletrack-menu-icon-selected)}
				
		// .inventory {
		// 	a.main-navbar-icon {
		// 		padding-left:40px;
		// 		&:before{background-image: url($inventory-menu-icon);}
		// 		&:hover:before{background-image: url($inventory-menu-icon-selected);}
	   	// 	}
		// 	&.is-active >a:before {background-image: url($inventory-menu-icon-selected);}
		// }
 		// .inventory a.selectedMenu:before{background-image: url($inventory-menu-icon-selected)}

		// .reports {
		// 	a.main-navbar-icon {
		// 		padding-left:40px;
		// 		&:before{background-image: url($reports-menu-icon);}
		// 		&:hover:before{background-image: url($reports-menu-icon-selected);}
	   	// 	}
		// 	&.is-active >a:before {background-image: url($reports-menu-icon-selected);}
		// 	a.selectedMenu:before{background-image: url($reports-menu-icon-selected)}
		// }
 		
 		// .search {
		// 	a.main-navbar-icon {
		// 		padding-left:40px;
		// 		&:before{background-image: url($search-menu-icon);}
		// 		&:hover:before{background-image: url($search-menu-icon-selected);}
	   	// 	}
		// 	&.is-active >a:before {background-image: url($search-menu-icon-selected);}
		// 	a.selectedMenu:before{background-image: url($search-menu-icon-selected)}
		// } 
 		
 		// .user-guide {
		// 	a.main-navbar-icon {
		// 		padding-left:40px;
		// 		&:before{background-image: url($help-menu-icon);}
		// 		&:hover:before{background-image: url($help-menu-icon-selected);}
	   	// 	}
		// 	&.is-active >a:before {background-image: url($help-menu-icon-selected);}
 		// }
	
	}
}

.sub-header .main-navbar li a.selectedMenu {
	color: $color-turquoise-dark-basic;
	border-bottom: 7px solid $color-turquoise-dark-basic;
	text-decoration: none;	
}