.dynamic-page-view-layout div {
    float: left;
}
.dynamic-fields-layout {

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    * {
        box-sizing: border-box;
    }
    .row {
        border-bottom-style: dashed;
        border-bottom-width: 0.5px;
        border-bottom-color: grey;

        &::after {
            content: "";
            clear: both;
            display: table;
        }

        &.row-first {
            border-top: 0.5px dashed grey;
        }
    }

    .col {
        float: left;
        height: 60px;

        &.col-first {
            border-right-style: dashed;
            border-right-width: 0.5px;
            border-right-color: grey;
        }
    }
    
    .rect-area-icons {
        float: left;
        position: relative;
        top: 35%;
        margin-right: 20px;
        margin-left: 10px;
    }

    
    .sortable-handler {
        float: left;
        width: 90%;
        position: relative;
        top: 30%;
    }
    
       
}

.html-popup-layout 
{
    display:none;
    &.fields-manager  
    {
        padding:20px 20px 20px 30px;
        .layout-row {
            .cell-label {
                width:20%;
            }
            .cell-element {
                width:70%;
            }
        }

        #btnAddOption.plus-icon::before {
            margin-right: 10px;
        }
    }
}

.ui-dialog-buttonset {
    width: 100%; 
    text-align: center
}