html {
	font-size: calc(0.45em + 0.35vw);
	// font-size: 14px;
	background-color:$body-background;
	direction:ltr;
	min-width:1300px;
	box-sizing: border-box;
}

body {
		font-family: $body-font-family;
		// min-height: 100vh;
		color: $color-black;
		line-height: 1.5;
		
		&.body-bg-color {
			background-color:$color-bg-base;	
		}
}

//override for popups
@media screen and (max-width: 1300px)
{
    html { 
		font-size: 14px;
		min-width:auto;
	}
	body {
		min-height: auto;
	}
}

input, select, textarea
{
	font-size: 1em;
    font-weight : normal;
    color: #000000;
    text-align: left;
}

textarea
{
	padding: 0.3rem 0.4rem;
	border-radius: 5px;
	border: 1px solid #aaaaaa;
    -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0,0,0,0.1);
}

input[type="text"], input[type="password"]
{
	  border: 1px solid #aaaaaa;
	  border-radius: 5px;
	  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	  color: $color-black;
	  text-decoration: none;
	  white-space: nowrap;
	  width: 100%;
	  height:26px;
	  padding-left: 6px;
	  padding-right: 6px;
}
select
{
	  width:inherit;	
	  height:26px;
	  padding-left: 3px;
	  border: 1px solid #aaa;
	  border-radius: 5px;
	  box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
}

// override default browser radio button, commented because does not work in IE11
// input[type=radio].with-font {
//     border: 0;
//     clip: rect(0 0 0 0);
//     margin: -1px;
//     padding: 0;
//     width: 1px;
// }

// input[type=radio].with-font:before {
//     font-family: "FontAwesome";
//     display: inline-block;
//     content: "\f1db";
//     // letter-spacing: 10px;
//     font-size: 1.2em;
//     // color: #535353;
// }
// input[type=radio].with-font:checked:before {
//     font-family: "FontAwesome";
// 	content: "\f192";
//     font-size: 1.2em;
//     color: $color-turquoise-dark-basic;
//     // letter-spacing: 5px;
//     // width: 35px 5px;
// }
// input[type=radio].with-font:focus:before {
//     // font-weight: bold;
//     color:$color-turquoise-dark-basic;
// }

// hide browser 'X' icon that overlayed on the input field
input[type=text]::-ms-clear { display: none; }

button.dt-button.table-primary-btn,
.table-primary-btn {
	background: $color-yellow-basic;
	color: $color-white;
	padding: 4px 10px;
	border-radius: 4px;

	&:before {
		font-family: "FontAwesome";
		padding-right: 4px;
	}
	
	&:hover, &:active, &:focus {
		background: $color-turquoise-dark-basic;
    	color: $color-white;
		border: 1px solid #c5c5c5;
		text-shadow: none;
	}

	&.ui-state-disabled {
		background-color: $color-disabled;
	}
}

button.dt-button
{
	&:active:not(.disabled):hover:not(.disabled) {
		background: none;
		box-shadow: none;
	}
	&.table-primary-btn {
		border: 1px solid #c5c5c5;
		font-family: $body-font-family;
		line-height: normal;
		margin-bottom: 0;
		padding: 0.33em 0.7em;
		font-size: 1em;

		&:active:not(.disabled):hover:not(.disabled) {
			background: $color-turquoise-dark-basic;
			color: $color-white;
			border: 1px solid #c5c5c5;
			text-shadow: none;
		}
	}
}

.table-secondary-btn {
	background: $color-turquoise-dark-basic;
	color: $color-white;
	padding: 4px 10px;

	&:before {
		font-family: "FontAwesome";
		padding-right: 4px;
	}
	
	&:hover, &:active, &:focus {
		background: $color-yellow-basic;
    	color: $color-white;
		border: 1px solid #c5c5c5;
	}

	&.ui-state-disabled {
		background-color: $color-disabled;
	}
}

.popup-btn {
	background: $color-turquoise-dark-basic;
    color: $color-white;

	&:before {
		font-family: "FontAwesome";
		padding-right: 4px;
	}
	
	&:hover, &:active, &:focus {
		background: $color-yellow-basic;
    	color: $color-white;
		border: 1px solid #c5c5c5;
	}
	&.ui-state-disabled {
		background-color: $color-disabled;
	}
}

.new-button:before {		
	content: "\f067"; // fa-plus
}
.save-button:before {
	content: "\f0c7"; //fa-save, fa-floppy-o
}
.undo-button:before {
	content: "\f0e2"; //fa-undo, fa-rotate-left
}
.close-button:before {
	content: "\f00d"; //fa-remove,fa-close,fa-times
}
.copy-button:before {
	content: "\f0c5"; // fa-copy, fa-files-o  
}
.edit-button:before {
	content: "\f044"; // fa-edit, fa-pencil-square-o   
}
.calculator-button:before {
	content: "\f1ec"; // fa-calculator
}
.remove-button:before {
	content: "\f1f8"; // fa-trash
}
.cancel-button:before {
	content: "\f0e2"; //fa-undo, fa-rotate-left
}
.search-button:before {		
	content: "\f002"; // fa-search
}

.button.dropdown:after {
    display: block;
    width: 0;
    height: 0;
    border: .4em inset;
    content: "";
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: $color-font-grey transparent transparent;
    position: relative;
    top: .4em;
    display: inline-block;
    float: right;
    margin-left: 1em;
}

.ui-dialog .ui-dialog-buttonpane {
	float: left;
	width: 100%;
	.ui-dialog-buttonset {
		.ui-button {
			background: $color-turquoise-dark-basic;
			color: $color-white;

			&:hover, &:active, &:focus {
				background: $color-yellow-basic;
				color: $color-white;
				border: 1px solid #c5c5c5;
			}
			&.ui-state-disabled {
				background-color: $color-disabled;
			}
		}
	}
}


.ui-dialog .ui-dialog-titlebar {
	background-color: #f2f9f8;
}

.ui-dialog .ui-dialog-content {
	padding: 0.5em 0.8em;
}

.star {
	color:grey;
	vertical-align: middle;
}

.center
{
	margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.disabled {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	pointer-events: none;	
	cursor: not-allowed;

	span.checkbox-icon {
		color: $color-disabled;
	}
	.table-files .file-row .app-icon {
		color:$color-disabled;
		background: none;
	}
	.table-primary-btn {
		background-color: $color-disabled;
	}
}

.fa {
	cursor: pointer;	
}

.app-icon
{
	cursor: pointer;
	line-height:20px;
	color:$color-icons;
	display: inline-block;

	&.checkbox-icon {		
		font-size: 17px;
		color:$color-turquoise-dark-basic;
	}

	&.new-icon:before {
		font-size: 15px;
	}
	
	&:hover {
		color:$color-icons-onhover;
	}

	&.disabled {
		color: $color-disabled;
	}
}

.checkbox-icon {		
	font-family: "FontAwesome";
	&:before {
	   content: "\f096"; // fa-square-o   
	}
	&.checked {
		padding-top: 0;
		&:before {
			content: "\f14a"; // fa-check-square   
		}
	}
}

.edit-icon:before {
	font-family: "FontAwesome";
	content: "\f044"; // fa-edit, fa-pencil-square-o   
}

.new-icon:before {
	font-family: "FontAwesome";
	content: "\f15b"; //  fa-file 
}

.copy-icon:before {
	font-family: "FontAwesome";
	content: "\f0c5"; // fa-copy, fa-files-o  
}

.remove-icon:before {
	font-family: "FontAwesome";
	content: "\f1f8"; // fa-trash
}

.undo-icon:before {
	font-family: "FontAwesome";
	content: "\f0e2"; //fa-undo, fa-rotate-left
}

.collapse-icon:before {
	font-family: "FontAwesome";
	content: "\f106"; // fa-angle-up
}

.expand-icon:before {
	font-family: "FontAwesome";
	content: "\f107"; // fa-angle-down
}

.plus-icon:before {
	font-family: "FontAwesome";
	content: "\f067"; // fa-plus
}

.maximize-icon::before {
	font-family: "FontAwesome";
	content:"\f065";  // fa-expand
}

.minimize-icon::before {
	font-family: "FontAwesome";
	content:"\f066";  // fa-compress
}

.add-attachment-icon:before {
	font-family: "FontAwesome";
	content: "\f0c6"; //fa-paperclip
}

.download-icon:before {
	font-family: "FontAwesome";
	content: "\f019"; //fa-download
}

.show-history-icon:before {
    font-family: "FontAwesome";
	content: "\f1da"; //fa-history
}

.print-icon:before {
    font-family: "FontAwesome";
	content: "\f02f"; //fa-print
}

.save-icon:before {
	font-family: "FontAwesome";
	content: "\f0c7"; //fa-save, fa-floppy-o
}

.cog-icon:before {
	font-family: "FontAwesome";
	content: "\f013"; //fa-cog
}

.show-changes-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("history");
}

.pencil-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("draw");
}

.go-up-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("go-up");
}

.test-results-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("table");
}

.parameters-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("levels");
}

.test-matrix-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("table-1");
}

.sampling-plan-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("chemistry-1");
}

.materials-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("bottle");
}

.tab-comments-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("notes-1");
}

.tab-docs-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("notes-2");
}

.input-output-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("process");
}

.stage-admin-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("layout");
}

.notebook-icon:before {
	font-family: $flaticon-font;
	content: getFlaticon("notebook");
}

.rounded-span {	
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;

	&.notebook-view-edit-button {
    	background: $color-yellow-basic;
		width: 43px;
    	height: 43px;

		&.pencil-icon {
			padding: 7px 13px;
			font-size: 20px;
		}
		&.save-icon {
			padding: 7px 13px;
			font-size: 20px;
		}
	}

	&.page-go-up-button {
		padding: 7px 13px;
    	background: $color-turquoise-dark-basic;

		&.go-up-icon {
			font-size: 20px;
			color:white;
		}
	}
}

.page-header
{
	font-size:30px;
	text-align: center; 
	color:#375f53;
}

.page-sub-header
{
	font-size: 1rem;
	font-weight : normal;
	text-align: center;
}

.page-info-path {	
	font-size: 14px;
  	font-weight:bold;
  	color: $color-font-grey;
  	cursor:default;
  	margin-left: 0.5%;
  	
  	label {
  		color:$color-turquoise-dark-basic;
  	}
    span {
    	padding-right: 10px;	
    }
}

// formerly cssStaticDataAlignedLeft class
.field-label 
{
    font-size: 15px;
    font-weight : 400;
    color: $color-font-grey;
    text-align: left;		
	white-space: noWrap;
	
	&.align-right {
		text-align: right;		
	}
}

// formerly cssTextData class
.static-text
{
	font-size: 14px;
    font-weight : normal;    
	color: #000000;
//     FONT-FAMILY: $body-font-family;  
	text-align: left;
	white-space: noWrap;
}

.initiation-title
{
	color: $color-font-grey;
	font-size: 14px;
	font-weight: bold;
}

// used by Maintenance
.errorMessage
{
	list-style:square;
	color: red;
}

.ui-datepicker-trigger 
{
	width: 20px;
	height: 20px;	
	position: relative; 
	left: 3px ;    
	bottom: 2px;
} 

.mandatoryFieldMark
{
	vertical-align: baseline;
	color: red;
}

.cssTextDataWithLink
{

    font-weight : normal;
    FONT-FAMILY: $body-font-family;  
	text-align: left;
	white-space: noWrap;
	font-size:14px;
	color:#1766ad;
	cursor:pointer;
	
	&:hover {
		font-weight : 500;
	}
	
	i.fa {
		color:#03427b;
		margin-right: 3px;
	}
}

.cssTextData > i.fa.fa-plus-square, i.fa.fa-minus-square {
	color:black;
}

.cssOverflowNoBorder
{
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border: 0px solid #99A89E;
	scrollbar-arrow-color: #006AAA;
	scrollbar-base-color: #006AAA;
	scrollbar-face-color: #FFFFFF;
	scrollbar-shadow-color: #BEC6DA;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #BEC6DA;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FAFAFA;
}

.link_under 
{ 
	text-decoration:underline; 
	color:blue !important;
	cursor:pointer;
} 

// style used by div created dinamically on page loading (loading.js)
.loading-div-background 
{
	display:block;
	position:fixed;
	top:0;
	left:0;
	// background:url(images/ui-bg_highlight-hard_100_f2f5f7_1x100.png) #f2f5f7 repeat-x 50% top;
	background-color: #f2f5f7;
	width:100%;
	height:100%;
	opacity: 0.95;
	filter: Alpha(opacity=95);
	z-index: 999;
 }
.loading-div
{
	 text-align:center;
	 position:relative;
	 top: 30%;
	 z-index: 1001;
	 
	 h2 {
	 	color:$color-font-grey;
	 }
 }

// style used by div to display mask and wait message //
.pageDefaultMask
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	display: none;
	z-index: 99;
	opacity: 0.25;
	filter: Alpha(opacity=25);
}

.cssWaitMessageDiv
{
	// margin: 10px auto;
    border: none;
    text-align: center;
    background: white;
    border-radius: 3px 3px 0px 0px;
    color: #212121;
    cursor: default;
    padding: 10px;
    position: fixed;
    z-index: 105;
    display: none;
    -webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
    box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
}

.cssUserMessage
{
	margin: 8px 0;
}
///////// END  
/////////////////////////////////////////
// .loader {
//   border: 16px solid #f3f3f3;
//   border-radius: 50%;
//   border-top: 16px solid #6fc2ae;//6fc2ae
//   border-bottom: 16px solid #6fc2ae;
//   width: 120px;
//   height: 120px;
//   -webkit-animation: spin 2s linear infinite;
//   animation: spin 2s linear infinite;
// }
// 
// @-webkit-keyframes spin {
//   0% { -webkit-transform: rotate(0deg); }
//   100% { -webkit-transform: rotate(360deg); }
// }
// 
// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }
//////////////////////////////////////////
// .loader {
// 	border: .2em solid #6fc2ae;
// 	border-bottom-color: transparent;
// 	border-radius: 50%;
// 	animation: 1s loader linear infinite;
// 	position: relative;
// 	width: 120px;
//   	height: 120px;
// }
// 
// @keyframes loader {
// 	0% {
// 		transform: rotate(0deg);
// 	}
// 	100% {
// 		transform: rotate(360deg);
// 	}
// }
///////////////////////////////

.cssBasicHiddenformDiv
{	
	margin: 10px auto; 
	border: solid 3px #336e77;
	background:#f2f9f8;
	color: #362b36;
	cursor: default;
	padding: 10px;
	position: fixed;
	z-index: 100;
	display: none; 
}

.cssTableCellRTL
{
	text-align:right;
	direction:rtl;
}
.cssTableCellLTR
{
	text-align:left;
	direction:ltr;
}

// used by Navigation //
.hasmenu
{
	width: 16px;
	height: 16px;
	cursor:pointer;
	border:none;
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url(images/ui-icons_72a7cf_256x240.png);
	background-position: -16px -48px;
	float:left;
}

.html-page-layout,
.html-popup-layout { 
	
	width: 100%;
	min-width: 1300px;
    position: relative;
    float: left;
    
	div.layout-row,.layout-cell {
		float: left;
    	position: relative;	
	}
	div.layout-container {
		width: 100%;
		float: left;
    	position: relative;
	}
	.layout-row {		
		width: 100%;
    	margin-bottom: 15px;
    	
    	fieldset {
    		border: 1px solid #DADEE0;
    		margin: 0px;
    		padding: 5px 8px;
    		
    		legend {
    			color: #475466;
    			font-size: 13px;
    		}
    	}
    	
    	.layout-column {
    		float: left;
    	}
    	
    	.cell-element {
    		// &.checkbox {
    		// 	padding-top:1px;	
    		// }	
			.checkbox-icon {
    			padding-top:1px;	
    		}	
    	}
	}	
	.right {
			float: right;
		}
	.align-right {
		text-align: right;	
	}
	.center {
		text-align: center;
	}
}

.html-popup-layout {
	min-width:auto;
}

// @media screen and (max-width: 1300px)
// {
// 	.html-page-layout {
// 		min-width:auto;
// 	}
// }

.columns-definition-layout {
	
	ul {
		list-style-type: none;
		padding-left: 10px;
	}

	ul.checkboxAll {
		margin-left: 1.2rem;
	}

	ul.ui-sortable {
		
		margin-left: 0.1rem;
		
		li {
			margin: 0 5px 5px 5px;
	    	padding: 3px 3px 3px 10px;
	    	width: 90%;

	    	&.ui-state-default {
	    		border: 1px solid #c5c5c5;
    			background: #f6f6f6;
	    	}
	    	
	    	&.ui-state-disabled {
    			cursor: default !important;
    		}

	    	&.ui-sortable-handle {
			    cursor: move;
			    
			    label {
			    	&:hover {
			    		cursor: move;	
			    	}
			    }
			   
			    &:hover {
		    		background: #aee3ef;
		    	}
			}
    	}
	}

	span.checkbox-icon+label {
		display: inline-block;
		vertical-align: bottom;
		margin-left: 0.61538rem;
		margin-right: 1.23077rem;
		margin-bottom: 0;
	}
}

li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
    display: none;
}

//prevent from Chrome v83 influence on outline style of some html elements
input, select, textarea,
.ui-tabs .ui-tabs-nav .ui-tabs-anchor,
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active
{
	outline:none;	
}

.ui-contextmenu {
	position: absolute;
    left: 32px;
    top: 92px;
    display: none;

    &.ui-widget-content {   	
    	background: $color-white;
    	color: $color-black;   
    	
    	border: 2px solid #a2d3f3;
    	font-weight:$font-weight-medium;
    	font-family: Arial,Helvetica,sans-serif;
    	border-radius: 3px;
    	-webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
    	box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);	
    }
}

.ui-tabs-vertical 
{
	&.no-borders.ui-widget.ui-widget-content {
		border: none;
	    background: transparent;
	    padding: 0;
	    
	    .ui-tabs-panel {
	    	padding: 0;
	    }
	 }
    
	.ui-tabs-nav.ui-widget-header {
		padding: 0.2em 0.2em 0.2em 0;
		border-bottom: 0;
		
		li {
			border-bottom-width: 1px;
    		border-radius: 0 3px 3px 0;
    		margin-bottom: 1px;
    		background: white;
    		
    		&:hover {
    			border: 1px solid #cccccc;
    			background: #ededed;
    		}
    	
    		a {
    			color: black;
    			font-weight: 500;
			    padding: 0.5em 0.5em;	
			    width:100%;		    
    		}
    		
    		&.ui-tabs-active {
    			background: $color-bg-tab-active;
    			
    			a {
    				color:white;

					.tab-icon {
						color:white;
					}
    			}
    		}
		}
	}	
}

.ui-tabs-nav.ui-widget-header {
	background: none;
    border: none;
    border-bottom: 1px solid #dddddd;
    border-bottom-right-radius: 0;
}

.floatingButtonsPanelContainer {
		
		display: none;
    	//height: 50px;
    	white-space: nowrap;
    	// width: 20em; // minimal default width
		width: auto;
    	
    	position: fixed; 
    	float: right;
		z-index:10;
		top: 126px;
 
    	background: transparent;
    	color: $color-black;     
    	font-weight:$font-weight-medium;
    	border-radius: 5px 0 0 5px;
    	-webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
    	box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
    	
		-webkit-transition: top 1s ease-out;
    	transition: top 1s ease-out;
    	
    	.floatingButtonsShowHideIcon {
    		
	    	position: relative;
    		float: left;
    		width:30px;
    
	    	i.fa.fa-angle-right,
	    	i.fa.fa-angle-left {
	    		font-size: 36px;
	    		padding-left: 7px;	    		
	    		padding-right: 5px;
	    		padding-top: 5px;
    			padding-bottom: 5px;
    			color: $color-turquoise-dark-basic;
	    	}
	    }

		.floatingButtonsPanel {
			
			position: relative;
		    float: left;
		    z-index: 10;
		    top: 9px;
		    white-space: nowrap;
			padding-right: 10px;
			
			span {
				display: inline-block;
				padding: 3px 6px;
				border: 1px solid $color-turquoise-dark-basic;
				border-radius: 5px;
				background: transparent;
				cursor:pointer;

				&:hover {
					background-color:#e6c037;
					color: white;
				}
				&.disabled {
					border-color: $color-disabled;
    				color: $color-disabled;
				}
			}
		}
	}

.floatingTabsPanelContainer {
		
		left: 0px;
    	white-space: nowrap;
    	width: auto;
    	position: fixed; 
    	float: left;
		height: 0;
		z-index:10;
    	background: transparent;
    	color: $color-black;     
    	font-weight:$font-weight-medium;    	
		//-webkit-transition: left 0.5s ease-out;
    	//transition: left 0.5s ease-out;
    	
    	.floatingTabsShowHideIcon {
    		
	    	position: relative;
    		float: right;
    		width: 25px;
    		background: $color-bg-floating-btn-icon;
    		border-radius: 0 9px 9px 0;
    		margin-top: 5px;
    
	    	i.fa.fa-angle-right,
	    	i.fa.fa-angle-left {
	    		font-size: 33px;
	    		color:$color-white;
	    		padding-left: 7px;
	    		padding-right: 5px;
	    		padding-top: 5px;
    			padding-bottom: 5px;
	    	}
	    }

		.floatingTabsPanel {
			
			// display: none;
			position: relative;
		    float: left;
		    z-index: 10;
		    background: #f6f6f6;
		    white-space: nowrap;
		    border-radius: 0 5px 5px 0;
    		-webkit-box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);
    		box-shadow: 0px 4px 13px 0px rgba(0,0,0,0.48);

			.tab-icon {
				
				&.sampling-plan-icon,
				&.materials-icon,
				&.tab-comments-icon {
					color:$color-turquoise-dark-basic;
				}

				&.tab-docs-icon,
				&.input-output-icon,
				&.notebook-icon {
					color:purple;
				}
			}

			&.tabs-full-view {
				ul>li>a {
					padding: 0;
					padding-top: 3px;
					padding-left: 3px;

					.tab-icon {
						vertical-align: middle;
						font-size: 21px;
					}
				}
			}
			&.tabs-preview 
			{
				// display: block;
				ul>li>a {
					padding: 0;
					height: 31px;
					.tab-label {
						display: none;
					}
					.tab-icon {
						font-size: 25px;
						margin-left: 5px;
						&.stage-admin-icon {
							font-size: 26px;
    						margin-left: 2px;
						}
					}
				}
				
			}
		}
}

.breadcrumb 
{	
	display: inline-block;
	overflow: hidden;	
	font-size: 14px;
	line-height: 21px;
	
	div.content 
	{
		text-decoration: none;
		outline: none;
		display: block;
		float: left;
		color: white;
		padding: 4px 10px;
		background: $color-bg-nav-arrow;
		position: relative;
		cursor:pointer;
		
		&.active {		
			background: $color-bg-nav-arrow-active;
			cursor:default;
		}
	}
	
	div.arrow 
	{
		border-style: solid;
		border-width: 15px 0px 14px 14px;
		border-color: $color-bg-nav-arrow white;
		position: relative;
		float: left;
		cursor:pointer;
		
		&.prev-path.beforeActive
		{
			border-color: $color-bg-nav-arrow-active white;	
		}
		
		&.prev-path::after {
				transform: translate(-14px, -13px);
    			border-width: 13px 0 12px 12px;
    			border-color: transparent transparent transparent $color-bg-nav-arrow;
	    		content: '';
			    position: absolute;
			    width: 0;
			    height: 0;
			    border-style: solid;
		}
		
		&.active {
			border-color: transparent $color-bg-nav-arrow-active;
			cursor:default;
		}
	}		
}

.chosen-container-single .chosen-single {
	background:none;
	height: 26px;
}

.chosen-container-multi .chosen-choices {
	border-radius:5px;
	background:none;
	box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0, 0, 0, 0.1);
	overflow: auto;
    max-height: 90px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	background:none;
}

.chosen-container-multi .chosen-choices li.search-field {
	    padding-top: 1px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	margin: 0;
	color: $color-black;
	font-family: inherit;
}

// .chosen-container-multi .chosen-choices li.search-choice.default-result {
// 	border: none;
// 	background: none;
// 	background-image: none;
// }

.header-contenteditable {

	font-weight: 500;	
	margin: 0;
	padding-left: 10px;
	height: auto;	
	cursor: text;
	
	&.header-edit-mode {
		&:focus {
			outline: transparent;
			border-radius: 3px;
			background-color:white;
			color:black;
		}
		&:empty:not(:focus):before {
			content: attr(data-placeholder);		
			cursor: text;  
		}
	}
	
}

.section-parent {
	margin: 0 0 1em 0;
	padding: 0.3em;
	width:99%;
	float: left;

	.section-header {
	    padding: 0.2em 0.3em;
	    margin-bottom: 0.5em;
	    position: relative;
    	border-bottom: 1px solid $color-turquoise-light-basic;
	    float: left;
	    width: 100%;
		// height: 31px;
	    
	    label {
	    	color: $color-font-grey;
    		font-size: 16px;
    		font-weight: 500;	
	    }
		.app-icon {
			font-size:20px;				
		 }
	}
	.section-content {
    	padding: 0.4em;
		float: left;
		width: 100%;
  	}

	&.notebook-section {
		.section-header {
			&.section-preview {
				border:none;
			}
			  
			&:hover {
				  cursor:move;	
			  }
			
			&.prevent-drag-section:hover {
				cursor: default;
			}
		}
		.section-content {
			padding: 1em;
			&.section-preview {
				padding-top: 0;
			}
		}
	}

	&.ui-sortable-helper {
	    .section-header {
	    	cursor:move;	
	    	background:$color-turquoise-light-basic;
	    	color:white;
	    	i {
	    		color:white;
	    	}
	    }
	}
}

#notebookSortableSections { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	width: 100%; 
	float: left;
}

#notebookSelectionList { 
	margin: 20px 3px 20px 3px; 
	padding: 1em; 
	font-size: 1.2em;
	border: 1px dashed #757575;
	background: #fcfcfc;
	float: left;
    width: 99%;	

	.app-icon.plus-icon:before {
		color: $color-turquoise-dark-basic;
	}
}

.full-screen-section {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 100;
	
	iframe {
		min-height:100vh;	
	}
}

.table-files {
	width: 50%;
    margin-bottom: 20px;
	margin-top: 20px;

	.file-row {
		height: 40px;
    	border-bottom: 1px solid $color-light-grey;
    	padding: 4px 5px 0 5px;

		&.first {
			border-top: 1px solid $color-light-grey;
		}
		&.odd {
			background: #f9f9f9;
		}

		span {
			
			border-radius: 5px;
			color: white;
			font-size: 18px;

			&.download-icon {
				padding: 6px 6px 4px 7px;
				background-color: $color-yellow-basic;
				margin-right: 3px;
			}
			&.remove-icon {
				padding: 5px 8px 4px 8px;
				background-color: #d9534f;
				margin-right: 10px;
			}
			&.text {
				vertical-align: text-bottom;
				font-size: 14px;
				color: $color-black;
			}
		}
	}
}

.ui-state-highlight { height: 2em; line-height: 1.2em; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid $color-turquoise-dark-basic;
	background: $color-turquoise-dark-basic;
	font-weight: normal;
	color: #ffffff;
}