// define table vars
$border-color: #c5c5c5;

///////////// override dataTables.jqueryui.css /////////////////////////////
table.dataTable, table.dataTable th, table.dataTable td {
    box-sizing: border-box;
}

table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}

table.dataTable thead th {
    // padding: 3px 0px 3px 10px;
	padding: 5px 9px 5px 4px;
	cursor: default;  
	font-size: 14px;
	height: 25px;
	text-align: center;
}

table.dataTable thead th.ui-state-default,
table.dataTable tfoot th.ui-state-default
{
    border: 1px solid $border-color;
    border-left-width: 0;
    background: #f2f9f8;
	line-height:1.2em;
}

table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td,
table.dataTable.display tbody th, 
table.dataTable.display tbody td {
  	padding: 3px 10px;
	font-size:13px;
	border-top: menu 1px solid;
	border-left: menu 1px solid;
	border-right: menu 1px solid; 
	color:$color-black;
	cursor: default;
}

table.display tfoot th {

	font-size: 13px;
	padding: 1px;
	height: 28px;
	
	input.search_init {
		height: 24px;
	}
}

table.display thead th div.DataTables_sort_wrapper 
{
	padding-right: 20px; //1.2em;
	span {
		position: absolute;
		top: 50%;
		margin-top: -8px;
		right: -6px;

		&.DataTables_sort_icon {
			right:4px;
		}
		&.close-icon {
			background-image: url(../../images/close-icon.png);
			height: 16px;
    		width: 16px;
			// display: inline-block;
			background-repeat: no-repeat;
			margin-top: -5px;
    		cursor: pointer;
    		margin-right: -7px;
		}
	}
}

.dataTables_wrapper .dataTables_paginate {
	padding-top:0.1em;
}

.dataTables_wrapper .dataTables_paginate .ui-button {
	margin-right: -0.1em !important;	
}

.dataTables_wrapper .dataTables_paginate .fg-button {
	border: 1px solid $border-color;
}

.dataTables_wrapper .paging_full_numbers {
	// width: 380px !important;
	color: #519bcd;
	font-size: 14px;
	float: right;
}

.dataTables_wrapper .paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	cursor: hand;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate 
{
  color: #454545;
//   font-size : 0.95em;
//   font-weight : bold; 
}

.dataTables_wrapper .dataTables_length {
	margin-right: 10px;
}

.dataTables_wrapper .dataTables_processing {
	background: none;
    top: 0%;
	color: #ff0000;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 0.2em;
	float: left;
}

.dataTables_wrapper .dataTables_filter {	
	margin-bottom: 0.3em; 	
	input {
	  	height: 26px;
	    border: 1px solid $border-color;
	    border-radius: 5px;
	    -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0,0,0,0.1);
	    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0,0,0,0.1);
	    text-decoration: none;
	    white-space: nowrap;
	    margin: 0;
    	width: 150px;
    }
}

table.dataTable tbody tr {
    background-color: $color-white;
}

table.dataTable tbody tr.selected
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr.odd
{
  background-color: $color-white;
}

table.dataTable.display tbody tr.odd.selected
{
  background-color: $color-row-selected;
}

tr.odd td {
    background-color: $color-white;
}

tr.selected td {
	background-color: $color-row-selected;
}

table.dataTable.display tbody tr:hover
{
  background-color: $color-white;
}

table.dataTable.display tbody tr:hover.selected
{
	background-color: $color-row-selected;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.display tbody tr.odd > .sorting_3
{
  background-color: $color-white;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable.display tbody tr.odd.selected > .sorting_2,
table.dataTable.display tbody tr.odd.selected > .sorting_3
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.display tbody tr.even > .sorting_3
{
  background-color: $color-white;
}

table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable.display tbody tr.even.selected > .sorting_2,
table.dataTable.display tbody tr.even.selected > .sorting_3
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr:hover > .sorting_3
{
  background-color: $color-white;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.display tbody tr:hover.selected > .sorting_3
{
  background-color: $color-row-selected;
}

////////////////////////// END 	override /////////////////////////////////////////////

table.dataTable tbody tr.row_selected
{
  background-color: $color-row-selected;
}

table.dataTable tr.even.row_selected td {
	background-color: $color-row-selected;
}

table.dataTable tr.odd.row_selected td {
	background-color: $color-row-selected;
}

table.dataTable.display tbody tr.odd.row_selected > .sorting_1,
table.dataTable.display tbody tr.odd.row_selected > .sorting_2,
table.dataTable.display tbody tr.odd.row_selected > .sorting_3
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr.even.row_selected > .sorting_1,
table.dataTable.display tbody tr.even.row_selected > .sorting_2,
table.dataTable.display tbody tr.even.row_selected > .sorting_3
{
  background-color: $color-row-selected;
}

// add background color to row on table load
.row_light
{
  background-color: $color-row-selected;   
}

.row_light_limitation
{
  background-color: $color-row-selected;   
}

table.dataTable tr.even.row_selected_limitation td {
	background-color: $color-row-selected ;
}

table.dataTable tr.odd.row_selected_limitation td {
	background-color: $color-row-selected ;
}

.disabledRow
{
   cursor: not-allowed;
   pointer-events: none;
   user-select: none;
   opacity: 0.5;     
}

// positioning of sort icons for datatable v1.9.4 //
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }

.dataTables_scrollHead {
	box-sizing:content-box;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr:last-child > td {
	border-bottom: menu 1px solid;
}

table.dataTable td.center {
	text-align: center;
}

table.dataTable.no-footer {
  border-bottom: 1px solid rgb(197, 197, 197);
}

th.dtfc-fixed-left, th.dtfc-fixed-right {
	z-index: 1;
}

.table-column-with-icons {
	padding: 1px 1px;
    vertical-align: top;
    // max-width:110px;
	width:120px;
    
	span {
		margin-right:10px;
		
		&:before {
			font-size:18px;	
		}
	}	
}	

.dataTables_wrapper{
	.dropdown {
		display: inline;

		&.dropdown-button {
			float: left;
    		position: relative;
			border-radius: 3px;
			margin-right: 15px;
			padding: 0.4em 1.3em;
			border: 1px solid transparent;
			-webkit-transition: background-color 0.25s ease-out,color 0.25s ease-out;
			transition: background-color 0.25s ease-out,color 0.25s ease-out;
			font-family: inherit;
			font-size: 1rem;
			-webkit-appearance: none;
			line-height: 1;
			text-align: center;
			cursor: pointer;
			background-color: #006d77;
			color: #fefefe;

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: white;
				// width: 73px;
    			z-index: 10;
				-webkit-box-shadow: 0px 4px 13px 0px #0000007a;
    			box-shadow: 0px 4px 13px 0px #0000007a;
				left: 0;
    			top: 25px;

				button {
					min-width: 90px;
					color: #212121;
					text-decoration: none;
					line-height: 1.6em;
					padding: 0.25em 0.4em 0.2em 0.4em;
					margin-bottom: 1px;
					display: block;
					border: none;
    				background: none;
					cursor: pointer;

					&:hover {
						font-weight: bold;
					}
				}
			}
		}
		&:hover .dropdown-content {
			display: block;
		}
	}
}

.dt-buttons 
{	
	.buttons-html5 {
		line-height: 11px;
		padding: 0.25em 0.4em 0.2em 0.4em;
		margin-bottom: 1px;
	
		&.buttons-excel {
			i {
				color: green;
				font-size: 15px;
			}
		}
		
		&.buttons-pdf {
			i {
				color: red;
				font-size: 15px;
			}
		}
	}	
	
	div.dt-button, a.dt-button, input.dt-button {
		padding: 0.33em 0.7em;
		font-size: 1em;
	}
}

table.dataTable.editable-table {
	tbody {
		td {
			.editable-cell {
				border: 0;
				background: none;
				box-shadow: none;
				height: auto;
				box-sizing: content-box;

				&.css-input {
					padding: 3px 0 4px 1px;
					margin: 0;
					display: block;
					min-width: 0;
					width: 100%;

					&:focus {
						background-color:$color-white;	
						
						&:hover {
							background-color:$color-white;	
						}
					}
				}
				&.css-select + div.chosen-container
				{
					&.chosen-container-single
					{
						.chosen-single {
							border: 0;
							background: none;
							box-shadow: none;
							height: auto;
							box-sizing: content-box;
							padding: 3px 0 4px 8px;
							line-height: normal;
						}
						&.chosen-container-active .chosen-single 
						{
							
							background: $color-white;
							border-color: #f2f9f8;
							-webkit-box-shadow: 0px 0px 6px 0px #f2f9f8;
							-moz-box-shadow: 0px 0px 6px 0px #f2f9f8;
							box-shadow: 0px 0px 6px 0px #f2f9f8;
						}	
						.chosen-drop {
							border-color: #f2f9f8;
						}	
					}
				}
			}
			.viewable-cell-parent {
				min-height: 22px;
			}
		}
	}
}
