///////////// override dataTables.jqueryui.css /////////////////////////////
table.dataTable thead th, table.dataTable tfoot th {
    font-weight: normal;
}

table.dataTable thead th {
    padding: 3px 0px 3px 10px;
	cursor: default;  
	font-size: 13px;
	height: 25px;
	text-align: center;
}

table.dataTable.row-border tbody th, 
table.dataTable.row-border tbody td,
table.dataTable.display tbody th, 
table.dataTable.display tbody td {
  	padding: 3px 10px;
	font-size:12px;
	border-top: menu 1px solid;
	border-left: menu 1px solid;
	border-right: menu 1px solid; 
	color:black;
	cursor: default;
}

table.display tfoot th {
	padding: 0;  
	font-size: 13px;
	height: 25px;
	text-align: center;
}

tfoot input {
	margin: 0.3em 0;
	width: 90%;
	color: #444;
}

tfoot input.search_init {
	color: #999;
	padding-left: 3px;
	padding-right: 0;
}

table.display thead th div.DataTables_sort_wrapper 
{
	padding-right: 1.2em;
	span {
		position: absolute;
		top: 50%;
		margin-top: -8px;
		right: 0;
	}
}

.dataTables_wrapper .dataTables_paginate {
	padding-top:0.1em;
}

.dataTables_wrapper .dataTables_paginate .ui-button {
	margin-right: -0.1em !important;	
}

.dataTables_wrapper .dataTables_paginate .fg-button {
	border: 1px solid #c5c5c5;
}

.dataTables_wrapper .paging_full_numbers {
	width: 380px !important;
	color: #519bcd;
	font-size: 14px;
}

.dataTables_wrapper .paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	cursor: hand;
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate 
{
  color: #1766ad;
  font-size : 0.95em;
  font-weight : bold; 
}

.dataTables_wrapper .dataTables_processing {
	background: none;
    top: 1%;
	color: #ff0000;
}

.dataTables_wrapper .dataTables_info {
    padding-top: 0.2em;
}

.dataTables_wrapper .dataTables_filter {	
	margin-bottom: 0.1em; 	
	input {
	  	height: 20px;
	    border: 1px solid #aaa;
	    border-radius: 5px;
	    background-clip: padding-box;
	    -webkit-box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0,0,0,0.1);
	    box-shadow: 0 0 3px white inset, 0 1px 1px rgba(0,0,0,0.1);
	    text-decoration: none;
	    white-space: nowrap;
	    padding: 0 3px 0 3px;
    }
}

table.dataTable tbody tr {
    background-color: $color-white;
}

table.dataTable tbody tr.selected
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr.odd
{
  background-color: $color-white;
}

table.dataTable.display tbody tr.odd.selected
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr:hover
{
  background-color: $color-white;
}

table.dataTable.display tbody tr:hover.selected
{
	background-color: $color-row-selected;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.display tbody tr.odd > .sorting_3
{
  background-color: $color-white;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable.display tbody tr.odd.selected > .sorting_2,
table.dataTable.display tbody tr.odd.selected > .sorting_3
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.display tbody tr.even > .sorting_3
{
  background-color: $color-white;
}

table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable.display tbody tr.even.selected > .sorting_2,
table.dataTable.display tbody tr.even.selected > .sorting_3
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.display tbody tr:hover > .sorting_3
{
  background-color: $color-white;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.display tbody tr:hover.selected > .sorting_3
{
  background-color: $color-row-selected;
}

////////////////////////// END 	override /////////////////////////////////////////////

table.dataTable tbody tr.row_selected
{
  background-color: $color-row-selected;
}

table.dataTable tr.even.row_selected td {
	background-color: $color-row-selected;
}

table.dataTable tr.odd.row_selected td {
	background-color: $color-row-selected;
}

table.dataTable.display tbody tr.odd.row_selected > .sorting_1,
table.dataTable.display tbody tr.odd.row_selected > .sorting_2,
table.dataTable.display tbody tr.odd.row_selected > .sorting_3
{
  background-color: $color-row-selected;
}

table.dataTable.display tbody tr.even.row_selected > .sorting_1,
table.dataTable.display tbody tr.even.row_selected > .sorting_2,
table.dataTable.display tbody tr.even.row_selected > .sorting_3
{
  background-color: $color-row-selected;
}

// add background color to row on table load
.row_light
{
  background-color: $color-row-selected;   
}

.row_light_limitation
{
  background-color: $color-row-selected;   
}

table.dataTable tr.even.row_selected_limitation td {
	background-color: $color-row-selected ;
}

table.dataTable tr.odd.row_selected_limitation td {
	background-color: $color-row-selected ;
}

.disabledRow
{
   cursor: not-allowed;
   pointer-events: none;
   user-select: none;
   opacity: 0.5;     
}

// positioning of sort icons for datatable v1.9.4 //
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }

.dataTables_scrollHead {
	box-sizing:content-box;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr:last-child > td {
	border-bottom: menu 1px solid;
}

table.dataTable td.center {
	text-align: center;
}

table.dataTable.no-footer {
  border-bottom: 1px solid rgb(197, 197, 197);
}

.dt-buttons 
{
	margin-left: 15px;
	
	.buttons-html5 {
		line-height: 11px;
		padding: 0.25em 0.4em 0.2em 0.4em;
		margin-bottom: 1px;
	
		&.buttons-excel {
			i {
				color: green;
				font-size: 15px;
			}
		}
		
		&.buttons-pdf {
			i {
				color: red;
				font-size: 15px;
			}
		}
	}
	
}    	
// .dt-button.buttons-html5 {
// 	line-height: 11px;
// 	padding: 0.25em 0.4em 0.2em 0.4em;
// 	margin-bottom: 1px;
// }
// .dt-button.buttons-html5.buttons-excel i {
// 	color: green;
// 	font-size: 15px;
// }
// .dt-button.buttons-html5.buttons-pdf i {
// 	color: red;
// 	font-size: 15px;
// }
