/*
 *  File:         demo_table_jui.css
 *  CVS:          $Id$
 *  Description:  CSS descriptions for DataTables demo pages
 *  Author:       Allan Jardine
 *  Created:      Tue May 12 06:47:22 BST 2009
 *  Modified:     $Date$ by $Author$
 *  Language:     CSS
 *  Project:      DataTables
 *
 *  Copyright 2009 Allan Jardine. All Rights Reserved.
 *
 * ***************************************************************************
 * DESCRIPTION
 *
 * The styles given here are suitable for the demos that are used with the standard DataTables
 * distribution (see www.datatables.net). You will most likely wish to modify these styles to
 * meet the layout requirements of your site.
 *
 * Common issues:
 *   'full_numbers' pagination - I use an extra selector on the body tag to ensure that there is
 *     no conflict between the two pagination types. If you want to use full_numbers pagination
 *     ensure that you either have "example_alt_pagination" as a body class name, or better yet,
 *     modify that selector.
 *   Note that the path used for Images is relative. All images are by default located in
 *     ../images/ - relative to this CSS file.
 */


/*
 * jQuery UI specific styling
 */
html {
	background-color:#FFFFFF;
	font-size: 14px;
	color:#484848;
	font-family: Verdana, Geneva, Sans-Serif;
/* 	line-height:17px; */
	direction:ltr;
}

.paging_two_button .ui-button {
	float: left;
	cursor: pointer;
	* cursor: hand;
}

.paging_full_numbers .ui-button {
	padding: 2px 6px;
	margin: 0;
	cursor: pointer;
	* cursor: hand;
}

.dataTables_paginate .ui-button:not(.last) {
	margin-right: -0.1em !important;
	
}

.paging_full_numbers {
	width: 380px !important;
	color: #519bcd;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 14px;
}

.dataTables_wrapper .ui-toolbar {
	padding: 5px;
}

.dataTables_paginate {
	width: auto;
}

.dataTables_info {
	padding-top: 3px;
}

table.display thead th {
	padding: 3px 0px 3px 10px;
	cursor: default; /*SKYLINE*/
	/*SKYLINE*/
	font-family:Tahoma, Verdana, Sans-Serif; 
	font-size: 13px;
	height: 25px; /* 27px SKYLINE*/
	text-align: center;
	/******/
}

div.dataTables_wrapper .ui-widget-header {
	font-weight: normal;
}


/*
 * Sort arrow icon positioning
 */
table.display thead th div.DataTables_sort_wrapper {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div.DataTables_sort_wrapper span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}

table.display thead th div {
	position: relative;
	padding-right: 20px;
	padding-right: 20px;
}

table.display thead th div span {
	position: absolute;
	top: 50%;
	margin-top: -8px;
	right: 0;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 * Everything below this line is the same as demo_table.css. This file is
 * required for 'cleanliness' of the markup
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
	position: relative;
	/*min-height: 302px;
	_height: 302px;*/
	clear: both;
	zoom: 1;
}

.dataTables_processing {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 250px;
	margin-left: -125px;
	border: 0px solid #ddd;
	text-align: center;
	color: #ff0000;
	font-size: 16px;
	padding: 2px 0;
}

.dataTables_length {
	width: 40%;
	float: left;
	/*SKYLINE*/
	color : #1766ad;
	font-family : Verdana, Tahoma, Sans-Serif;
	font-size : 10pt;
	font-weight : bold;
	/********/
}

.dataTables_filter {
	width: 50%;
	float: right;
	text-align: right;
	font-family : Verdana, Tahoma, Sans-Serif;
	color : #1766ad; /*#00008b;*//*SKYLINE*/
	font-size : 10pt;
	font-weight : bold;  
}

.dataTables_info {
	width: 50%;
	text-align: left;
	float: left;
	font-family: Verdana, Tahoma, Sans-Serif;
	color: #1766ad; /*#00008b;*//*SKYLINE*/
	font-size: 10pt;
	font-weight: bold; 
}

.dataTables_paginate {
	float: right;
	text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}

.paginate_disabled_previous {
	background-image: url('images/back_disabled.jpg');
}

.paginate_enabled_previous {
	background-image: url('images/back_enabled.jpg');
}

.paginate_disabled_next {
	background-image: url('images/forward_disabled.jpg');
}

.paginate_enabled_next {
	background-image: url('images/forward_enabled.jpg');
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables display
 */
table.display {
	margin: 0 auto;
	width: 100%;
	clear: both;
	border-collapse: collapse;
	background-color:#d3d3d3;
}

table.display tfoot th {
	padding: 0; /* 3px 0px 3px 10px;  SKYLINE */
	font-weight: bold;
	font-weight: normal;
	/*SKYLINE*/
	font-family:Tahoma, Verdana, Sans-Serif; 
	font-size: 13px;
	height: 25px; /* 27px SKYLINE*/
	text-align: center;
	/******/
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
	font-size:9pt;
	font-family: Verdana, Tahoma, sans-serif;
	border-top: menu 1px solid;
	border-bottom: menu 1px solid;
	border-left: menu 1px solid;
	border-right: menu 1px solid; 
	color:black;
	cursor: default;
}

table.display td.center {
	text-align: center;
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center right;
}




/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables row classes
*/

tr.odd {
	background-color: white;
	
	height: 19px;
}

tr.even {
	background-color: white;
	height: 19px;
}





/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */
.dataTables_scroll {
	clear: both;
}

.top, .bottom {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.top .dataTables_info {
	float: none;
}

.clear {
	clear: both;
}

.dataTables_empty {
	text-align: center;
}

tfoot input {
/* 	margin: 0.5em 0; */
/* 	width: 80%; */
	color: #444;
}

tfoot input.search_init {
	color: #999;
}

td.group {
	background-color: #d1cfd0;
	border-bottom: 2px solid #A19B9E;
	border-top: 2px solid #A19B9E;
}

td.details {
	background-color: #d1cfd0;
	border: 2px solid #A19B9E;
}


.example_alt_pagination div.dataTables_info {
	width: 40%;
}

.paging_full_numbers span.paginate_button,
 	.paging_full_numbers span.paginate_active {
	border: 1px solid #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 2px 5px;
	margin: 0 3px;
	cursor: pointer;
	*cursor: hand;
}

.paging_full_numbers span.paginate_button {
	background-color: #ddd;
}

.paging_full_numbers span.paginate_button:hover {
	background-color: #ccc;
}

.paging_full_numbers span.paginate_active {
	background-color: #99B3FF;
}

table.display tr.even.row_selected td {
	background-color: #d7f9f0 /*#CED8F6*/ /* row selected changed for SKYLINE 9 */;
}

table.display tr.odd.row_selected td {
	background-color: #d7f9f0 /* #CED8F6*/ /* row selected changed for SKYLINE 9 */;
}

table.display tr.even.selected td {
	background-color: #d7f9f0 /*#CED8F6*/ /* row selected changed for SKYLINE 9 */;
}

table.display tr.odd.selected td {
	background-color: #d7f9f0 /* #CED8F6*/ /* row selected changed for SKYLINE 9 */;
}



/* added for SKYLINE 9 */
table.display tr.even.row_selected_limitation td {
	background-color: #e8fcf6 ;
}

table.display tr.odd.row_selected_limitation td {
	background-color: #e8fcf6 ;
}
/*******/
/*
 * Row highlighting example
 */
.ex_highlight #example tbody tr.even:hover, #example tbody tr.even td.highlighted {
	background-color: #ECFFB3;
}

.ex_highlight #example tbody tr.odd:hover, #example tbody tr.odd td.highlighted {
	background-color: #E6FF99;
}