html { 
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
body {
    width: 97%;
}
div {
    padding: 4px 10px;
	width: 97%;
}
div.group-header {
    border: 1px solid #635d5d;
    background-color: #87cefa;
	margin: 15px 0 10px 0;
}
.at-richtext-subtitle {
    text-decoration: underline;
}
table {
    border-spacing: 0;
}
table thead th:first-child, table tbody td:first-child {
    border-left: 1px solid #d3d3d3;
}
/* table tbody tr:first-child td {
    border-top: none;
} */
table thead th {
	border: 1px solid #c5c5c5;
    border-left-width: 0;
	padding: 5px 9px 5px 4px;
	font-size: 14px;
    height: 25px;
    text-align: center;
}

table tbody td
{
	box-sizing: border-box;
	padding: 5px 10px;
    font-size: 13px;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

.note-editable table{width:100%;border-collapse:collapse}
.note-editable table td, .note-editable table th{border:1px solid #ececec;padding:5px 3px}
.note-editable a{background-color:inherit;text-decoration:inherit;font-family:inherit;font-weight:inherit;color:#337ab7}
.note-editable a:hover,.note-editable a:focus{color:#23527c;text-decoration:underline;outline:0}