.login_body{background-image:url("../../images/login_screen_background.jpg");background-size:cover;height: 100vh;padding-top: 13%;}
.loginmodal-container {
	width:415px;
	margin:0 auto;
	padding:0px 75px 45px 75px;
	overflow:hidden;
	font-family:'Roboto', sans-serif;
	border-radius:3px;
	background-color:#f7f7f7;
	-webkit-box-shadow:0px 3px 7px 0 rgba(0,0,0,0.35);
	box-shadow:0px 3px 7px 0 rgba(0,0,0,0.35)
}
.loginmodal-container input:-webkit-autofill,
.loginmodal-container input:-webkit-autofill:hover,
.loginmodal-container input:-webkit-autofill:focus,
.loginmodal-container input:-webkit-autofill:active {
	-webkit-transition:background-color 5000s ease-in-out 0s;transition:background-color 5000s ease-in-out 0s
}
.loginmodal-container .login_top_section {
	text-align:center;padding:30px 0 20px 0px
}
.loginmodal-container .login_top_section img {
	height:70px;
	margin-bottom: 10px;
}
.loginmodal-container .login_top_section .title {
	font-family:'Roboto', sans-serif;
	font-size:1rem;
	line-height:15px;
	text-align:center;
	color:#363434;
	display:inline-block;
	margin-left:10px;
}
.loginmodal-container input[type=text],
.loginmodal-container input[type=password] {
	width:270px;
	height:36px;
	font-size:14px;
	border-radius:3px;
	background-color:#ffffff;
	border:solid 1px #bdbdbd;
	margin-bottom:16px;
	padding:1px 14px
}
.loginmodal-container input[type=text] ::-webkit-input-placeholder,
.loginmodal-container input[type=password] ::-webkit-input-placeholder {
	color:#363434
}
.loginmodal-container input[type=text] :-moz-placeholder,
.loginmodal-container input[type=password] :-moz-placeholder {
	color:#363434
}
.loginmodal-container input[type=text] ::-moz-placeholder,.loginmodal-container input[type=password] ::-moz-placeholder{color:#363434}.loginmodal-container input[type=text] :-ms-input-placeholder,.loginmodal-container input[type=password] :-ms-input-placeholder{color:#363434}.loginmodal-container input[type=text] ::-ms-input-placeholder,.loginmodal-container input[type=password] ::-ms-input-placeholder{color:#363434}.loginmodal-container input[type=text]:hover,.loginmodal-container input[type=password]:hover{border:1px solid #b9b9b9;border-top:1px solid #a0a0a0;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1)}
.loginmodal-container .loginmodal-submit {
	width:270px;height:36px;margin-bottom:16px;border-radius:3px;background-color:#1c91cd;position:relative;border:0;font-size:14px;font-weight:bold;text-align:center;color:#ffffff;cursor:pointer;
}
.loginmodal-container input[type="checkbox"]{height:14px;width:14px}.loginmodal-container .checkbox_label{vertical-align:top;width:91px;height:11px;font-size:14px;text-align:left;color:#757575}.loginmodal-container hr{width:278px;height:0px;background-color:#bdbdbd;border:solid 1px #bdbdbd;margin-bottom:14px}.loginmodal-container .forgot_label{width:143px;height:14px;font-size:14px;text-align:left;color:#1272a3}
