/* roboto-300 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.woff') format('woff'); /* Modern Browsers */
}
/* roboto-300italic - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
/* @font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.woff2') format('woff2'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.woff') format('woff');
} */
/* roboto-regular - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.woff') format('woff'); /* Modern Browsers */
}
/* roboto-italic - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
/* @font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.woff2') format('woff2'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.woff') format('woff');
} */
/* roboto-500 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.woff') format('woff'); /* Modern Browsers */
}
/* roboto-500italic - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
/* @font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.woff2') format('woff2'), 
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.woff') format('woff'); 
} */
/* roboto-700 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.woff') format('woff'); /* Modern Browsers */
}
/* roboto-900 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.woff') format('woff'); /* Modern Browsers */
}