/* roboto-300 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300italic - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-300italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-italic - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500italic - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-700.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts_googleapis/roboto-v18-greek-ext_latin_vietnamese_greek_cyrillic_latin-ext_cyrillic-ext-900.svg#Roboto') format('svg'); /* Legacy iOS */
}