$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?3f8d5d869158f942afd7eac0144af0cb") format("truetype"),
url("./flaticon.woff?3f8d5d869158f942afd7eac0144af0cb") format("woff"),
url("./flaticon.woff2?3f8d5d869158f942afd7eac0144af0cb") format("woff2"),
url("./flaticon.eot?3f8d5d869158f942afd7eac0144af0cb#iefix") format("embedded-opentype"),
url("./flaticon.svg?3f8d5d869158f942afd7eac0144af0cb#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "history": "\f101",
    "draw": "\f102",
    "go-up": "\f103",
    "notebook": "\f104",
    "layout": "\f105",
    "process": "\f106",
    "table": "\f107",
    "table-1": "\f108",
    "bottles-1": "\f109",
    "bottle": "\f10a",
    "chemistry-1": "\f10b",
    "notes-1": "\f10c",
    "notes-2": "\f10d",
    "levels": "\f10e",
    "level": "\f10f",
);

.flaticon-history:before {
    content: map-get($flaticon-map, "history");
}
.flaticon-draw:before {
    content: map-get($flaticon-map, "draw");
}
.flaticon-go-up:before {
    content: map-get($flaticon-map, "go-up");
}
.flaticon-notebook:before {
    content: map-get($flaticon-map, "notebook");
}
.flaticon-layout:before {
    content: map-get($flaticon-map, "layout");
}
.flaticon-process:before {
    content: map-get($flaticon-map, "process");
}
.flaticon-table:before {
    content: map-get($flaticon-map, "table");
}
.flaticon-table-1:before {
    content: map-get($flaticon-map, "table-1");
}
.flaticon-bottles-1:before {
    content: map-get($flaticon-map, "bottles-1");
}
.flaticon-bottle:before {
    content: map-get($flaticon-map, "bottle");
}
.flaticon-chemistry-1:before {
    content: map-get($flaticon-map, "chemistry-1");
}
.flaticon-notes-1:before {
    content: map-get($flaticon-map, "notes-1");
}
.flaticon-notes-2:before {
    content: map-get($flaticon-map, "notes-2");
}
.flaticon-levels:before {
    content: map-get($flaticon-map, "levels");
}
.flaticon-level:before {
    content: map-get($flaticon-map, "level");
}
