@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?3f8d5d869158f942afd7eac0144af0cb") format("truetype"),
url("./flaticon.woff?3f8d5d869158f942afd7eac0144af0cb") format("woff"),
url("./flaticon.woff2?3f8d5d869158f942afd7eac0144af0cb") format("woff2"),
url("./flaticon.eot?3f8d5d869158f942afd7eac0144af0cb#iefix") format("embedded-opentype"),
url("./flaticon.svg?3f8d5d869158f942afd7eac0144af0cb#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-history:before {
    content: "\f101";
}
.flaticon-draw:before {
    content: "\f102";
}
.flaticon-go-up:before {
    content: "\f103";
}
.flaticon-notebook:before {
    content: "\f104";
}
.flaticon-layout:before {
    content: "\f105";
}
.flaticon-process:before {
    content: "\f106";
}
.flaticon-table:before {
    content: "\f107";
}
.flaticon-table-1:before {
    content: "\f108";
}
.flaticon-bottles-1:before {
    content: "\f109";
}
.flaticon-bottle:before {
    content: "\f10a";
}
.flaticon-chemistry-1:before {
    content: "\f10b";
}
.flaticon-notes-1:before {
    content: "\f10c";
}
.flaticon-notes-2:before {
    content: "\f10d";
}
.flaticon-levels:before {
    content: "\f10e";
}
.flaticon-level:before {
    content: "\f10f";
}
